/* Global Styles */
body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #ffeef5; /* Soft pink background */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

h1, p {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #4c4444;
}

/* Envelope Styles */
.envelope-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 0;
    animation: fadeIn 3s ease 5.8s forwards;
    z-index: 1;
}

.envelope {
    width: 224px;
    height: 224px;
    position: relative;
    overflow: hidden;
    animation: tremble 1s infinite;
    transition: all 0.3s ease;
}

.envelope--base {
    width: 220px;
    height: 140px;
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.24);
    background-color: #fea8b6;
}

.envelope__tab {
    width: 210px;
    height: 140px;
    position: absolute;
    bottom: 26px;
    left: 28px;
    transform: rotateZ(45deg);
    background-color: #f8a8c3;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.24);
}

.envelope__letter {
    width: 158px;
    height: 100px;
    position: absolute;
    bottom: 17px;
    left: 15px;
    padding: 12px 18px;
    font-size: 13px;
    font-style: oblique;
    border-radius: 8px;
    background-image: url("https://i.pinimg.com/564x/bd/27/23/bd2723cccfec31aeb82b41034fdd2933.jpg");
    background-size: cover;
    color: #a59090;
    border: 1px solid rgba(0, 0, 0, 0.24);
    transition: all 0.6s linear 0.4s;
    cursor: pointer;
}

.envelope:hover .envelope__letter {
    height: 200px;
    color: #4c4444;
}

.envelope__letter:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 0;
    bottom: -17px;
    right: -34px;
    border-top: 56px solid transparent;
    border-left: 107px solid #f8a8c3;
    border-right: 107px solid #f8a8c3;
    border-bottom: 65px solid #feaab1;
}

@keyframes tremble {
    0% { transform: rotate(-1deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
